.about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;

    &__description {
        list-style-type: none;
        font-weight: 600;

        & li::before {
            content: "🤍 ";
        }
    }
}

@media screen and (max-width: 700px) {
    .about-me-content {
        flex-direction: column;
    }
}